:root{
--DesaturatedRed: hsl(0, 36%, 70%);
--SoftRed: hsl(0, 93%, 68%);
--DarkGrayishRed: hsl(0, 6%, 24%);
}

body{
    font-size: 16px;
    font-family: "Josefin Sans";
    margin:0;
}

.container{
    width:100%;
}

.logo{
    margin:2rem 1rem;
}

.cutie{
    width: 100%;
}

.model{
    width:100%;
    margin: 0;
    padding: 0;
}

.subHeader{
    text-align: center;
    font-size: 48px;
    color:var(--DesaturatedRed);
    font-weight: 300;
    margin:2rem 5rem;
}

.black{
    color:#000000;
    font-weight: 600;
}

.text{
    text-align: center;
    color: var(--DesaturatedRed);
    margin: 5rem;
}

.cta{
    text-align: center;
}
