:root{
--DesaturatedRed: hsl(0, 46%, 90%);
--SoftRed: hsl(0, 93%, 68%);
--DarkGrayishRed: hsl(0, 27%, 69%);
}

body{
    font-size: 16px;
    font-family: "Josefin Sans";
    margin:0;
}

.container{
    width:100%;

}

header{
    margin:0;
}

.logo{
    margin:2rem 1rem;
}

.imgBox{
    width: 100%;
}

.hero{
    width: 100%;
}
/*.hero{
    background-color: #000000;
    background: url("../images/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:675px;
}
*/
section{
    background-color: var(--DesaturatedRed);
    padding-bottom: 2rem;
}

.subHeader{
    text-align: center;
    font-size: 64px;
    color:var(--DarkGrayishRed);
    font-weight: 300;
    margin:0rem 5rem;
    padding-top:5rem;
    letter-spacing: 7px;
    line-height: 4rem;
}

.black{
    color:#000000;
    font-weight: 600;
}

.text{
    text-align: center;
    color: var(--DarkGrayishRed);
    margin: 2rem 3rem 1rem 3rem;
    font-size: 18px;
    line-height: 2rem;
}

.btn{
    border: 0px solid var(--DesaturatedRed);
    width: 100px;
    color:var(--DesaturatedRed);
    background: var(--SoftRed);
    border-radius: 2rem;
    font-size: 65px;
}  

.cta{
    /* This bit sets up the horizontal layout */
    display:flex;
    flex-direction:row;
    /* This bit draws the box around it */
    border:1px solid var(--DarkGrayishRed);
    /* I've used padding so you can see the edges of the elements. */
    padding:0px;
    border-radius: 2rem;
    margin:1rem 3rem;
  }
  .email{
    /* Tell the input to use all the available space */
    flex-grow:2;
    /* And hide the input's outline, so the form looks like the outline */
    border:none;
    background-color:var(--DesaturatedRed);
    padding:0px;
    border-radius: 2rem;
  }
  
  .email:focus {
    /* removing the input focus blue box. Put this on the form if you like. */
    outline: none;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--DarkGrayishRed);
    opacity: 1; 
    padding:0 1rem;/* Firefox */
    font-size:24px;
  }

  @media screen and (min-width:1000px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "logo pic"
        "body pic";
        background-color: var(--DesaturatedRed);
        max-height: 100%;
    }

    .logo{
        grid-area: logo;
        padding:2.5rem 0rem 0rem 3.5rem;
        align-self: center;
    }

    .topLogo{
        width: 35%;
    }

    section{
        grid-area: body;
        text-align: left;
        margin-top: -12rem;
    }
    .subHeader{
        text-align: left;
        padding: 0rem 15rem 2rem 1rem;
        font-size: 84px;
        line-height: 7rem;
    }

    .text{
        text-align: left;
        padding:1rem 5rem 0rem 2.5rem;
    }
    
    .imgBox{
        grid-area: pic;
    }

    .cta{
        margin-top:5rem;
        margin-left: 5rem;
        margin-right: 7rem;
    }


  }






   


