:root{
--DesaturatedRed: hsl(0, 46%, 90%);
--SoftRed: hsl(0, 93%, 68%);
--DarkGrayishRed: hsl(0, 6%, 24%);
}

body{
    font-size: 16px;
    font-family: "Josefin Sans";
    margin:0;
}

.container{
    width:100%;
    
}

header{
    margin:0;
}

.logo{
    margin:2rem 1rem;
}

.cutie{
    width: 100%;
}

.model{
    width:100%;
    margin: 0;
    padding: 0;
}

section{
    background-color: var(--DesaturatedRed);
}

.subHeader{
    text-align: center;
    font-size: 64px;
    color:var(--SoftRed);
    font-weight: 300;
    margin:5rem 5rem;
    letter-spacing: 7px;
    line-height: 4rem;
    

}

.black{
    color:#000000;
    font-weight: 600;
}

.text{
    text-align: center;
    color: var(--SoftRed);
    margin: 2rem 3rem 1rem 3rem;
    font-size: 18px;
    line-height: 2rem;
}

.cta{
    text-align: center;
    padding: 2rem;
    margin-bottom: 0;
    color:var(--DesaturatedRed);
}

.email{
    border-radius: 2rem;
    padding:1rem;
    background-color:var(--DesaturatedRed);
    border:1px solid var(--SoftRed);
}

.submit{
    border-radius: 2rem;
    font-size: 32px;
}